<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
		<appSettings>
				<add key="defaultPort" value="4040"/>
				<add key="defaultServiceName" value="client10"/>
				<add key="preferredServer" value="tcp://localhost:3001/server1"/>
		</appSettings>
</configuration>